@import './base/fonts';
@import './utils/variables';
@import './utils/breakpoints';
@import './utils/placeholder';
@import './utils/visually-hidden';
@import './base/base-styles';

@import './components/advantages';
@import './components/backdrop';
@import './components/buttons';
@import './components/clients';
@import './components/filter';
@import './components/footer';
@import './components/header';
@import './components/hero';
@import './components/logo';
@import './components/modal';
@import './components/portfolio-list';
@import './components/price-section';
@import './components/price';
@import './components/project';
@import './components/section';
@import './components/team-cards';
@import './components/team-section';
