.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;

    transform: scale(1);
    transition: transform 1000ms $cubic-bezier-primary,
                 opacity 1000ms $cubic-bezier-primary;
   
    background-color: $bg-backdrop;
}

.backdrop.is-hidden {
    transform: scale(0);
    transition: transform 1000ms $cubic-bezier-primary,
                opacity 1000ms $cubic-bezier-primary,
                visibility 1000ms $cubic-bezier-primary;

}
