.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    

    transform: scale(1);
    transition: transform 1000ms $cubic-bezier-primary,
                 opacity 1000ms $cubic-bezier-primary;
   
    background-color: $bg-backdrop;

    overflow-y: scroll;
   
    @media screen and (max-width: 767px) {
        padding: 93px 15px
    }
}

.backdrop.is-hidden {
    transform: scale(0);
    transition: transform 1000ms $cubic-bezier-primary,
                opacity 1000ms $cubic-bezier-primary,
                visibility 1000ms $cubic-bezier-primary;

}
