.footer {
    padding-top: 60px;
    padding-bottom: 60px;

    background-color: $bg-color;

    &__container {
       
        @media screen and (max-width: 1199px) {
            text-align: center;
        }
      
       @media screen and (min-width: $desktop) {
            display: flex;
            align-items: baseline;
        }
    }

    &__contacts-wrapper {
        @media screen and (min-width: $tablet) {
            display: flex;
            gap: 165px;
            justify-content: center;
            align-items: baseline;
        }

        @media screen and (min-width: $desktop) {
            gap: 95px;
        }
    }

    &__address-wrapper {

        @media screen and (max-width: 1199px) {
            margin-bottom: 60px;
        }
    }

    &__address-list {
        @extend %list;
    }

    &__address-item:not(:last-child){
        margin-bottom: 8px;
    }
    

    &__maps-link {
        transition: color 250ms $cubic-bezier-primary;
    
        color: $color-white-primary;
        font-style: normal;
        font-weight: 400; 
        font-size: 14px;
        line-height: 1.71;
        text-decoration: none;
        cursor: pointer;

        &:hover,
        &:focus {
            color: $color-accent;
        }

    }

    &__contact-link {
        transition: color 250ms $cubic-bezier-primary;
    
        color: $color-text-primary;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 1.71;
        text-decoration: none;
        color: rgba(255, 255, 255, 0.6);
        cursor: pointer;

        &:hover,
        &:focus {
            color: $color-accent;
        }
    }

    &__follow-wraprer {
       margin-bottom: 60px;

    }
  
    &__folow-title {
        margin-top: 0;
        margin-bottom: 20px;
    
        font-weight: 700;
        font-size: 14px;
        line-height: 1.14;
        text-transform: uppercase;
        color: $color-white-primary;
    }

    &__follow-link {
        
        &:hover,
        &:focus {
          color: $color-white-primary;
          background-color: $color-accent;
        } 
    }

    &__follow-icon {
        fill: currentColor;
    }

    &__subscribe {
        margin-right: auto;
        margin-left: auto;
        
        @media screen and (min-width: $tablet) {
            width: 450px;
        }

        @media screen and (min-width: $desktop) {
            display: flex;
            align-items: flex-start;
            justify-content: flex-end;
            gap: 12px;
            margin-right: 0;
            margin-left: auto; 
            width: 100%;
       }
    }

    &__subscribe-block {
        @media screen and (min-width: $desktop) {
            width: 570px;
            margin-left: auto;
        }
    }

    &__subscribe-title {
        margin-bottom: 20px;
        font-weight: 700;
        font-size: 14px;
        line-height: 1.14;
        text-transform: uppercase;
        color: $color-white-primary;
    }

    &__subscribe-label {
        width: 100%;
    }

    &__subscribe-email {
        padding: 15px 16px 15px 16px;
        margin-bottom: 30px;
        width: 100%;
        height: 50px;
    
        transition:  border-color 250ms  $cubic-bezier-primary;
    
        background-color: transparent;
        font-size: 16px;
        line-height: 1.25;
        letter-spacing: 0.03em;
        color: $color-white-primary;
        border: 1px solid $border-color-mail;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
        border-radius: 4px;
        outline: none;
    
        &:hover,
        &:focus {
          border-color: $color-accent;
        }
    }

    &__subscribe-icon {
        fill: currentColor;
        margin-left: 10px;
    }
}