.header {
    border-bottom: 1px solid $border-color-secondary;

    &__navigation {
        display: flex;
        justify-content: space-between;
        
    }
}

.menu {
    @media screen and (max-width: 767px) {
        display: none;
    }
}