.logo {
    display: inline-block;
    
    font-family: $font-family-secondary;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    color: $color-accent; 
    text-decoration: none;
    cursor: pointer;

    
    &__text-studio{
    color: $color-logo-secondary;  
}

   &__text-studio--white {
    color: $color-white-primary; 
}
}

.header__logo {
    padding-top: 24px;
    padding-bottom: 25px;
    margin-right: 93px;
}

.footer__logo{
    margin-bottom: 20px;
}