.modal {
    position: relative;
    width: 100%;
    max-width: 450px;
    margin: 0 auto;
    

    padding: 40px;
    background: $color-white-primary;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
                0px 1px 1px rgba(0, 0, 0, 0.14),
                0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;



    @media screen and (min-width: $tablet) {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      height: 100%;
      height: 609px;
    }

    @media screen and (min-width: $desktop) {
        width: 528px;
        height: 581px;
    }


    &__form {
        display: flex;
        flex-direction: column;
        
    }

    &__title {
        margin-bottom: 12px;
    
        font-weight: 700;
        font-size: 20px;
        line-height: 1.15;
        text-align: center;
        color: $color-title-text;
    }

     
    &__label {
        margin-bottom: 10px;
        font-size: 12px;
        line-height: 1.16;
        letter-spacing: 0.01em;
    
        color: $color-text-primary;
    }

    &__label-comment {
        margin-bottom: 20px;
        font-size: 12px;
        line-height: 1.16;
        letter-spacing: 0.01em;
    
        color: $color-text-primary;
    }

    &__input{
        width: 100%;
        height: 40px;
        padding-right: 12px;
        padding-left: 42px;
    
        transition: fill 250ms $cubic-bezier-primary, 
                    border-color 250ms $cubic-bezier-primary;
    
        border: 1px solid $border-color-form;
        border-radius: 4px;
        outline: none;

        &:focus,
        &:focus + .modal__input-icon {
        border-color: $color-accent;
        fill: $color-accent;
        }
    }

    &__input-wrapper{
        position: relative;
        display: block;
        width: 100%;
        margin-top: 4px;
    }
    
    &__input-icon {
        position: absolute;
        top: 50%;
        left: 12px;
        transform: translateY(-50%);

        

    
        transition: fill 250ms $cubic-bezier-primary, 
                    border-color 250ms $cubic-bezier-primary;
    }

    &__comment {
        display: block;
        width: 100%;
        height: 120px;
        margin-top: 4px;
        padding: 12px 16px;
        resize: none;
    
        transition: fill 250ms $cubic-bezier-primary, 
                    border-color 250ms $cubic-bezier-primary;
    
        border: 1px solid $border-color-form;
        border-radius: 4px;
        outline: none;

        &:focus {
            border-color: $color-accent;
            fill: $color-accent;
        }

        &:placeholder-shown {
            color: rgba(117, 117, 117, 0.5);
        }
    }

    &__checkbox-label{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 8px;
        margin-bottom: 30px;
       
        font-size: 12px;
        line-height: 1.66;
        color: $color-text-primary;

        cursor: pointer;
    }

    &__checkbox {
        appearance: none;

        &:checked + .modal__checbox-castom {
            background-color: $color-accent;
            border-color: transparent;
        }
    }

    &__checbox-castom{
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
    
        width: 16px;
        height: 15px;
        border: 2px solid $color-title-text;
        transition: background-color 250ms $cubic-bezier-primary,
                    border-color 250ms $cubic-bezier-primary;
        border-radius: 2px;
        cursor: pointer;
    }

    &__checkbox-icon {
        fill: $color-white-primary;
        border-radius: 2px; 
    }

    &__checkbox-link {
        color: $color-accent;
        text-decoration: underline;
        outline: none;

        &:focus {
            border: 1px solid $color-accent;
            border-radius: 2px;
            z-index: 1;
        }
    }

    .is-hidden {
        visibility: hidden;
        opacity: 0;
        pointer-events: none;
    }
}