.team-section {
    background-color: $bg-color-primary;

    &__list {
        @extend %list;
        
        @media screen and (min-width: $tablet) {
            display: flex;
            flex-wrap: wrap;
            margin: -15px;
           }
    }
}
