.team-cards {
    background: $color-white-primary;
    // width: calc((100% - 90px)/4);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
                0px 1px 1px rgba(0, 0, 0, 0.14),
                0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;

    @media screen and (min-width: $tablet) {
        margin: 15px;
        width: calc((100% - 2 * 30px)/2);
      }

      @media screen and (max-width: 767px) {
        &:not(:last-child) {
            margin-bottom: 30px;
      }
    
  }
    
    &__text-wrapper {
        padding-top: 30px;
        padding-bottom: 24px;
        text-align: center;
    }
    
    
    &__title {
        margin-top: 0px;
        margin-bottom: 10px;
    
        color: $color-title-text;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.19;
        text-align: center; 
    }
    
    &__text {
        margin-bottom: 16px;
    
        font-size: 16px;
        line-height: 1.19;
        text-align: center;
    }
    
    &__net {
        @extend %list;
        display: flex;
        justify-content: center;
        gap: 10px;
    }
    
    &__link {
        display: flex;
        width: 44px;
        height: 44px;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        color: $color-icon;
        cursor: pointer;
    
        transition: color 250ms $cubic-bezier-primary,
                    background-color 250ms $cubic-bezier-primary;

         &:hover,
         &:focus {
             color: $color-white-primary;
             background-color: $color-accent;
         }            
    }
    
    &__icon {
        fill: currentColor;
    }
}

