.header {
    border-bottom: 1px solid $border-color-secondary;

    &__navigation {
        display: flex;
        
    }
}

.site-nav {
    display: flex;
    align-items: center;

    &__list{
        @extend %list;
        display: flex;
        align-items: center;
    }
    
    &__item:not(:last-child){
        margin-right: 50px;
    }
    
    &__link {
        position: relative;
        padding-top: 32px;
        padding-bottom: 32px;
    
        transition: color 250ms $cubic-bezier-primary; 
    
        color: $color-title-text;
        font-family: $font-family-primaty;
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.02em;
        text-decoration: none;
        cursor: pointer;
        
        &:hover,
        &:focus {
        color: $color-accent; 
        
    }
    }
    
    &__link--current {
        color: $color-accent;
    
        &:after {
            position: absolute;
            bottom: 0;
        
            display: block;
            content: "";
            width: 100%;
            height: 4px;
        
            background-color: $color-accent;
            border-radius: 2px;
        
        }
    }
}

.contacts {
    @extend %list;
    display: flex;
    margin: 0px;
    margin-left: auto;
    align-items: center;

    &__item:not(:last-child){
        margin-right: 50px;
    }
    &__link {
        display: flex;
        align-items: center;
        gap: 10px;
        width: 100%;
        height: 100%;
        padding-top: 32px;
        padding-bottom: 32px;
    
        transition: color 250ms $cubic-bezier-primary; 
    
        color: $color-text-primary; 
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.02em;
        text-decoration: none;
        cursor: pointer;

        &:hover,
        &:focus {
        color: $color-accent; 
       } 
    }
    
    &__icon {
        fill: currentColor;
    }
}
