section {
    margin-right: auto;
    margin-left: auto;
    padding-top: 94px;
    padding-bottom: 94px;

    @media screen and (min-width: $desktop) {
        margin-right: auto;
        margin-left: auto;
        padding-top: 94px;
        padding-bottom: 94px;
       }
    
}

.section-title {
    margin-top: 0px;
    margin-bottom: 50px;

    color: $color-title-text;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
}